<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>

        <link rel='stylesheet' href='./bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='./bootstrap-theme-bootswatch-flatly/css/bootstrap.min.css' />
        <link rel='stylesheet' href='./chartist/dist/chartist.min.css' />

        <script src='./underscore/underscore-min.js'></script>
        <script src='./jquery/dist/jquery.min.js'></script>
        <script src='./bootstrap/dist/js/bootstrap.min.js'></script>
    </head>
    <body>

        <div class="container">

